	@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
	@font-face {
		font-family: "Mont Heavy";
		src: url("/files/fonts/Mont-Heavy.otf");
	}

	html,
	body {
		margin: 0;
		padding: 0;
		font-family: 'Saira Semi Condensed', sans-serif;
		color: white;
		background-color: rgba(0, 0, 0, 0);
		background-image: url("/files/img/back.png")
	}
	#defuser {
  width:500px;
  height:178px;
  background-image:url("/files/img/elements/defusing_roxo.png");
  position:absolute;
  left:-274px;
  margin-left:50%;
  bottom:250px;
}
#defuser_title{
  position:absolute;
  left:141px;
  top:41px;
  height:50px;
  font-size:30px;
}
#defuse_bar{
	background:#d69d2b;
	width:350px;
	position:absolute;
	height:10px;
	left:133px;
	top:81px;
}
#defuse_time{
  position:absolute;
  left:141px;
  top:90px;
  height:50px;
  font-size:30px;
	color: rgb(255, 255, 255) rgb(214, 157, 43)
}

#bomb_timer {
  width:10px;
  height:10px;
  margin: 0 auto;
  background-color:#d69d2b;
}
	/* #team_1 > .team_logo > #team_flag {
		position: absolute;
		z-index: -1;
		display: block;
		left: -6px;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		width: 90px;
		height: 55px;
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	} */
	/* #team_2 > .team_logo > #team_flag {
		position: absolute;
		z-index: -1;
		display: block;
		left: -8px;
		background-repeat: no-repeat;
		background-position: left center;
		width: 90px;
		height: 55px;
		-webkit-filter: blur(2px);
		-moz-filter: blur(2px);
		-o-filter: blur(2px);
		-ms-filter: blur(2px);
		filter: blur(2px);
	} */

	::-webkit-scrollbar {
		display: none;
	}

	.color {
		position: fixed;
		width: 100%;
		height: 100%;
		transition: color .25s ease-in-out;
	}

	#timer {
		position: relative;
		margin: auto;
		margin-top: 20px;
		text-align: center;
	}

	.time {
		font-size: 7em;
		transition: .25s ease-in-out;
	}
	.first_title_tm {
		height: 35px;
		display: table-cell;
		vertical-align: bottom;
	}
	.invert {
		filter: invert(100%);
	}
	.first_tm {
		height: 60%;
		font-size: 30px;
		margin-top: -10px;
	}

	#player-container {
		position: fixed;
		bottom: 100px;
		font-family: 'Saira Semi Condensed', sans-serif;
		left: 50%;
		margin-left: -460px;
		height: 70px;
		width: 920px;
	} 
	/* #player-container.no-avatar {
		margin-left: -390.5px;
		width: 781px;
	} */
	#player-container.ct #container2 #second_row{
		background-color:rgba(44, 35, 103,0.5);
	}
	#player-container.ct #container2 #first_row {
		background-color: #2c2367;
	}
	#player-container.t #container2 #first_row #current_nick{
		/* color: #ffa000; */
		color: #ffffff;
	}
	#player-container.t #container2 #second_row{
		/* background-color: #ffa000; */
		background-color: rgba(214, 157, 43, 0.5);
	}
	#player-container.t #container2 #first_row {
		/*background-color: rgba(214, 157, 43, 0.6);*/
		background-color: rgb(214, 157, 43);
	}
	#team_money_2.low, #team_money_1.low{
		color: #ffffff;
	}
	#player-container.ct #container2 #first_row #current_nick{
		color: #ffffff;
	}
	.no-avatar #avatar_container{
		display:none;

	}
	.no-avatar #container2{
		margin-left:0 !important;

	}

	.st_left {
		float: left;
		text-align: left;
	}

	.st_right {
		float: right;
		text-align: right;
	}


	#stat_money {
		width: 20%;
		height: 100%;
		color: #ffffff;
		/* text-shadow: 0 0 8px black; */
		font-size: 20px;
		font-weight: 600;
		/* margin-top: 12px; */
	}

	#left_stats {
		width: 50%;
		height: 100%;
		float: left;
		margin-top:85px;
	}


	.skull, .bomb{
		filter: brightness(140%);
	}
	.defuse{
		filter: brightness(200%);
	}

	#right_stats {
		width: 50%;
		height: 100%;
		float: right;
		margin-top:85px;
	}


	#player-container i {
		font-size: 30px;
		left: 3px;
	}

	#health {
		color: #ffffff;
	}

	#health-text {
		background-image: url("/files/img/hp.png");
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: left center;
		padding-left: 35px;
		display: inline-block;
		font-size: 25px;
		font-weight: 900;
		width: 40px;
	}

	#health-bar {
		display: inline-block;
		width: calc(100% - 118px);
		height: 20px;
		transform: skewX(40deg);
		/* background-color: rgba(0, 0, 0, 0.65); */
		overflow: hidden;
		position: relative;
	}
	#stats_1st > .first_t > .round_team_1_name, #stats_1st > .sec_t > .round_team_2_name{
		position:absolute; height:100%; width:45%; text-align: right;
	}
	#stats_2nd > .first_t > .round_team_1_name, #stats_2nd > .sec_t > .round_team_2_name{
		position:absolute; height:100%; width:65%; text-align: right;
	}

	#armor,
	#health {
		height: 30px;
	}

	#armor {
		margin-left: -5px;
		color: #2c2367;
	}

	#armor .fa-stack {
		width: 35px;
	}

	#armor .fa-plus {
		color: white;
		font-size: 15px;
		top: -5px;
	}

	#armor-text {
		
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: left 40%;
		display: inline-block;
		font-size: 25px;
		margin-left: 5px;
		padding-left: 35px;
		font-weight: 900;
		width: 40px;
	}
	#bar_username{
		color:white;
	}
	#bar_username.dead{
		color:rgba(255, 255, 255, 0.3)
	}
	#armor-text.armor{
		background-image: url("/files/img/armor_new.png");
	}
	#armor-text.helmet{
		background-image: url("/files/img/helmet_new.png");
	}
	#armor-bar {
		display: inline-block;
		width: calc(100% - 98px);
		height: 20px;
		transform: skewX(40deg);
		/* background-color: rgba(0, 0, 0, 0.65); */
		overflow: hidden;
		position: relative;
	}

	/*ammo + reserve*/

	#ammo-container {
		position: fixed;
		bottom: 0px;
		right: -26px;
		background-color: rgba(44, 35, 103,0.5);
		height: 63px;
		width: 300px;
		transform: skewX(-40deg);
	}

	#ammo-container #container2 {
		margin-right: 60px;
		transform: skewX(40deg);
		float: right;
	}
	#container2{
		opacity:1;
	}

	#ammo-container span {
		font-size: 25px;
	}

	#ammo-container .clip {
		font-size: 25px;
	}

	#ammo-container .reserve {
		font-size: 25px;
	}

	#first_row {
		background-color:black;
		height: 70%;
		/* padding-left: 15px; */
		width: 100%;
	}

	.ct_color {
		background-color: rgba(44, 35, 103,0.5) !important;
	}

	.t_color {
		/* background-color: #c19511 !important; */
		background-color: rgba(214, 157, 43.5) !important;
	}

	#second_row {
		height: 30%;
		width: 100%;
		/* padding-left: 15px; */
		/* padding-right: 15px; */
		/* text-shadow: 2px 2px 8px black; */
	}

	#third_row {
		margin-top: 5px;
		background-color: rgba(0, 0, 0, 0.3);
		width: 100%;
		height: 60px;
		text-align: center;
		font-family: 'Mont Heavy', sans-serif;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	#third_row img {
		height: 50px;
		width: auto;
	}

	#current_nick {
		width: 25%;
		font-family: 'Saira Semi Condensed', sans-serif;
		font-weight: 600;
		font-size: 30px;
		display: inline-block;
		white-space: nowrap;
		
		background-repeat: no-repeat;
		background-position: 0 65%;
		background-size: 27px;
		padding-left:36px;
		float:left;
		overflow:hidden;
	}
	#current_nick.no-flag{
		padding-left:10px;
	}


	#current_nick::before {
		width: 27px;
		height: 20px;
		margin-right: 10px;
	}


	#health_armor {
		font-family: 'Saira Semi Condensed', sans-serif;
		height: calc(100% - 5px);
		width: 30%;
		float: right;
		padding-top: 5px;
		text-align: end;
	}
	#round_stats {
		height: 85px;
		width: 100%;
	}

	.st_left {
		float: left;
		text-align: left;
	}

	.st_right {
		float: right;
		text-align: right;
	}

	.stats_player {
		height: 90px;
		width: 100%;
		/*background-color:black;*/
		/* margin-bottom: 4px; */
		display: inline-block;
	}

	#stat_money {
		width: 20%;
		height: 100%;
		color: #ffffff;
		/* text-shadow: 0 0 8px black; */
		font-size: 20px;
		font-weight: 600;
		/* margin-top: 12px; */
	}

	#left_stats {
		width: calc(50% - 50px);
		height: 100%;
		float: left;
		/* margin-left: 50px; */
	}

	#right_stats {
		width: calc(50% - 50px);
		height: 100%;
		float: right;
		/* margin-right: 50px; */
	}
	#stats-container {
		position: fixed;
		bottom: 0px;
		/* background: linear-gradient(to right, rgba(44, 35, 103, 0.3), rgba(44, 35, 103, 0) 100px, rgba(44, 35, 103, 0) 1130px, rgba(44, 35, 103, 0.3)); */
		font-family: 'Saira Semi Condensed', sans-serif;
		left: 345px;
		/* margin-left: -500px; */
		height: 535px;
		margin-bottom: 20px;
		width: 1230px;
		/*opacity: 0;*/
		/*transform: skewX(40deg);*/
	}

	#ammo {
		font-family: 'Saira Semi Condensed', sans-serif;
		height: calc(100% - 5px);
		width: 12%;
		float: right;
		padding-top: 5px;
		padding-right: 5px;
		text-align: end;
	}

	.inlining {
		display: inline;
	}

	#stats {
		float: right;
		width: calc(50% - 15px);
		text-align: end;
		margin-right: 15px;
	}

	#clip-text {
		display: inline-block;
		font-size: 25px;
		font-weight: 900;
		/* width: 55px; */
		text-align: right;
	}

	#reserve-text {
		display: inline-block;
		font-size: 25px;
		font-weight: 900;
		/* width: 55px; */
	}
	#nades {
		height: 100%;
		width: calc(50% - 15px);
		float: left;
		margin-left: 15px;
	}
	#nades img {
		height: 20px;
    max-height: 20px;
    width:auto;
    filter: invert(100%);
    float:left;
		margin-right: 5px;
	}
	.block{
		width: 50px;
		height: 14px;
		margin: 0 auto;
		margin-top: 8px;
		background-color: rgba(0, 0, 0,0.5);
	}
	.block_neutral {
		width: 50px;
		height: 14px;
		margin: 0 auto;
		margin-top: 8px;
		background-color: rgba(0, 0, 0,0.5);
		/* border: 2px solid white; */
		box-sizing: border-box;
	}
	.ct .block.win{
		background-color:#2c2367;
	}
	.t .block.win{
		background-color:#d69d2b;
	}
	#match_one_info .block{
		float:right;
	}
	#match_two_info .block{
		float:left;
	}

	.team {
		width: 345px;
		/* height: 420px; */
		margin-bottom: 20px;
	}

	#left {
		position: fixed;
		left: 0;
		bottom: 0;
	}
	.equip_bar>.bar_weapon{
		width:165px !important;
	}

	#right {
		position: fixed;
		right: 0;
		bottom: 0;
	}

	.player {
		/* background-color: rgba(0, 0, 0, 0.65); */
		width: 345px;
		height: 90px;
		margin-bottom: 0px;
	}

	.bar1 {
		width: 100%;
		height: 36px;
		font-size: 25px;
		font-weight: bold;
	}

	.bottom_bar {
		width: 100%;
		height: 27px;
	}

	.bar2.ct {
		width: 345px;
		height: 27px;
		float: left;
	}

	.bar2.t {
		width: 345px;
		height: 27px;
		float: right;
	}

	.kda.ct {
		width: 30%;
		float: left;
	}
	.kda.t {
		width: 30%;
		float: right;
	}

	.kda .kills, .kda .assists, .kda .deaths {
		float: left;
	}
	.kda .kills.t, .kda .assists.t, .kda .deaths.t {
		float: right;
	}

	.knife.ct {
		height: 20px;
		max-height: 20px;
		width: auto;
		float: right;
	}
	.knife.t {
		height: 20px;
		max-height: 20px;
		width: auto;
		float: left;
	}
	.knife .dead {
		opacity: 0;
	}
	.knife img {
		height: 20px;
		max-height: 20px;
		width: auto;
	}

	#left>.player>.bar1>.hp_bar {
		width: 345px;
		background: rgba(44, 35, 103,0.5);
		height: 100%;
		float: left;
		/* text-shadow: 0px 0px 10px black; */
		/* transform: scale(0.99,0.9); */
	}

	#right>.player>.bar1>.hp_bar {
		width: 345px;
		background: rgba(214, 157, 43,0.5)
		height: 100%;
		float: right;
		/* text-shadow: 0px 0px 10px black; */
		/* transform: scale(0.99,0.9); */
	}

	.money {
		height: 85px;
		background: rgba(0, 0, 0, 0.3);
		padding: 10px;
	}
	/* #left > .money{
		 background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 345px, rgba(0, 0, 0, 0.65) 345px, rgba(0, 0, 0, 0.3) 460px, rgba(0, 0, 0, 0.0) 460px);
	}
	#right > .money{
		 background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 345px, rgba(0, 0, 0, 0.65) 345px, rgba(0, 0, 0, 0.3) 460px, rgba(0, 0, 0, 0.0) 460px);
	} */

	.stat_t {
		background: rgba(0, 0, 0, 0.5);
		float: right;
		height: 100%;
		width: 115px;
	}
	#left > .player > .bar1 >.stat_t, #left > .player > .bottom_bar >.stat_t{
		background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
	}
	#right > .player > .bar1 >.stat_t, #right > .player > .bottom_bar >.stat_t{
		background: linear-gradient(to left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.3));
	}
	#left > .player{
		/* background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px); */
	}
	#right > .player{
		/* background: linear-gradient(to left, rgba(0, 0, 0, 0.65) 295px, rgba(0, 0, 0, 0.0) 295px); */
	}

	.bar1>.stat_t {
		color: rgba(255, 255, 255, 0.3)
	}

	.stat_t>.kills,
	.stat_t>.assists,
	.stat_t>.deaths {
		float: left;
		width: 33%;
		text-align: center;
		font-weight: 400;
	}
	.death {
		height: 70% !important;
        margin-top: 5px
	}
	#left>.player>.bar1>.hp_bar>.hp_el,
	#left>.player>.bottom_bar>.equip_bar>.hp_el {
		float: left;
		width: 40px;
		margin-left: 10px;
		height: 100%;
		text-align: center;
	}

	#right>.player>.bar1>.hp_bar>.hp_el,
	#right>.player>.bottom_bar>.equip_bar>.hp_el {
		float: right;
		width: 40px;
		margin-right: 10px;
		height: 100%;
		text-align: center;
	}

	#left>.player>.bar1>.hp_bar>.bar_username {
		float: left;
		padding-left: 15px;
		width: 160px;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		font-size:20px;
		text-shadow:none;
	}

	#right>.player>.bar1>.hp_bar>.bar_username {
		float: right;
		text-align:right;
		padding-right: 15px;
		width: 160px;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		font-size:20px;
		text-shadow:none;
	}

	#left>.player>.bar1>.hp_bar>.bar_weapon,
	#left>.player>.bottom_bar>.equip_bar>.bar_weapon {
		float: right;
		width: 120px;
		height: 100%;
	}

	#right>.player>.bar1>.hp_bar>.bar_weapon,
	#right>.player>.bottom_bar>.equip_bar>.bar_weapon {
		float: left;
		width: 120px;
		height: 100%;
	}

	#left>.player>.bottom_bar>.equip_bar {
		width: 345px;
		height: 100%;
		float: left;
	}

	#right>.player>.bottom_bar>.equip_bar {
		width: 345px;
		height: 100%;
		float: right;
	}

	.bottom_bar>.stat_t {
		font-weight: bolder !important;
	}

	.bomb_defuse {
		margin: auto;
		width: 30px;
		height: 100%;
	}
	.bomb_timer{
		min-width: 50px;
		/* min-height: 50px; */
		background-image:url('/files/img/elements/c4_timer.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.bomb_defuse.ct {
		float: left;
	}

	.bomb_defuse.t {
		float: right;
	}

	.moneys.ct {
		height: 100%;
		width: 60px;
		float: left;
		margin-left: 10px;
		margin-right: 5px;
	}

	.moneys.t {
		height: 100%;
		width: 60px;
		float: right;
		margin-right: 10px;
		margin-left: 5px;
		text-align: end;
	}

	.bar_weapon.ct>img {
		float: right;
		padding-right: 3px;
	}

	.bar_weapon.t>img {
		float: left;
		padding-right: 3px;
	}

	.bar_weapon>.invert {
		filter: invert(70%);
	}

	.bomb_defuse>.invert_brightness {
		filter: brightness(5%) invert(100%);
	}

	.knife>.knifefilter {
		filter: invert(30%);
	}
	.bar_weapon>.invert.checked {
		filter: invert(100%);
	}
	.hp_bar #weapon_icon{
		max-width: 100%;
		max-height: 100%;
	}
	.hp_bar #weapon_icon img{
		max-width: 90%;
		max-height: 100%;
	}
	.bar2>.moneys {
		/* color: #00b400; */
		/* text-shadow: 0px 0px 10px black; */
		color: #ffffff;
		font-weight: bold;
	}
	.bar2>.moneys.low{
		/* color:#ff0000; */
		color: #ffffff;
	}

	.img-hor {
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}

	.equip_bar>.bomb_defuse>img,
	.equip_bar>.bar_weapon>img,
	.hp_bar>.bar_weapon>img,
	.equip_bar>.hp_el>img {
		height: 75%;
		width: auto;
		margin: auto;
		margin-top: 2px;
		margin-left:2px;
	}

	.hp_bar>.bar_weapon>img.invert {
		/* filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(70%); */
	}

	.hp_bar>.bar_weapon>img.checked.invert {
		/* filter: drop-shadow(0.5px 0.5px 1px white) drop-shadow(-0.5px -0.5px 1px white) invert(100%); */
	}

	#right>.player {
		float: right;
	}
	#header {
		font-family: "Mont Heavy", sans-serif;
		width: 100%;
		height: 80px;
		position: absolute;
		top: 10;
		right: 0;
		left: 0;
		/* margin: 0 auto; */
		/* font-family: 'Cocogoose', sans-serif; */
		/* margin-left: -525px; */
		text-align: center;
	}

	#header_inner {
		width: 50%;
		height: 80px;
		margin: 0 auto;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
	}
	.container_name {
		width: 30%;
	}
	#background_header {
		width: 40%;
		height: 100%;
		background: rgba(44, 35, 103, .7);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		/* padding-top: 5px;
		padding-bottom: 5px; */
	}

	#match_tournament {
		position: absolute;
		top: 95px;
		width: 100%;
		/* margin: auto; */
		height: 30px;
		/* background: linear-gradient(to right, rgba(44, 35, 103, 0), rgba(44, 35, 103, 1), rgba(44, 35, 103, 0)); */
		/* background: rgba(44, 35, 103, .7); */
	}

	#match_teams {
		width: 100%;
		margin-top: 10px;
		height: 55px;
		background: #126f8e8a;
		/* background: rgba(44, 35, 103, 0.6); */
		/* border-radius: 1em; */
	}
	#team_name{
		/* text-shadow: 0 0 10px black; */
		font-size: 2em;
		font-weight: 900;
	}

	#time_counter {
		font-size: 25px;
		font-weight: bold;
		width: 100%;
		height: 50%;
		margin: auto;
		padding-top: 10px;
		text-align: center;
	}

	#round_info {
		width: 100%;
		height: 100%;
	}

	#round_counter {
		/* width: 15%; */
		height: 50%;
		/* margin: auto; */
		text-align: center;
		/* display: inline-flex; */
	}

	.team_info {
		width: 45%;
		font-size:30px;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-flex;
		align-items: center;
	}

	#team_1 {
		/* text-align: right; */
		/* float: left; */
	}
	.ct-color{
		/* color:#00a0ff; */
		color: #ffffff;
	}
	.t-color{
		/* color:#ffa000; */
		color: #ffffff;
	}

	#team_2 {
		/* text-align: left; */
		/* float: right; */
	}
	#team_score{
		/* margin-top:5px; */
	}
	#team_1 > #team_name{
		/* margin-top:5px; */
		/* float: left; */
		/* margin-left: 10px; */
		text-align: center;
	}
	#avatar_container {
		width:139px;
		height:139px;
		/* margin-top:-70px; */
		bottom: 21px;
		left: 40%;
		position: absolute;
		z-index: 99;
	}
	#avatar_container img {
		width:139px;
		height:139px;
		/* margin-top:1px; */
		/* margin-left:1px; */
	}

	#team_2 > #team_name{
		/* margin-top:5px; */
		/* float: right; */
		/* margin-right: 10px; */
		text-align: center;
	}
	.team_score{
		margin-left: 10px;
		margin-right:10px;
	}
	.team_logo{
		/* position: relative; */
		/* width:10%; */
		height:100%;
		margin-right:20px;
		margin-left:20px;
	}
	.team_logo.empty{
		width:0%;
	}
	.team_logo > img{
		width: auto;
		height: 70px;
		/* filter: drop-shadow(3px 3px 4px black); */
		
	}
	#team_1>.team_logo{
		float:right;
	}
	#team_2>.team_logo{
		float:left;
	}
	#flash-container {
		position: fixed;
		bottom: 0px;
		
		font-family: 'Saira Semi Condensed', sans-serif;
		left: 50%;
		margin-left: -550px;
		height: 420px;
		width: 1100px;
		/*transform: skewX(40deg);*/
	}
	#match_tournament > div{
		line-height: 30px;
		width: 300px;
		height: 30px;
		margin: 0 auto;
		background: rgba(44, 35, 103, .7);
	}
	#match_one_info{
		float:left;
		width:100px;
		height: 100%;
		text-align:right;
		font-weight:600;
		/* padding-top: 8px; */
	}
	#match_two_info{
		float:right;
		width:100px;
		height: 100%;
		text-align:left;
		font-weight:600;
		/* padding-top: 8px; */
	}
	#match_neutral {
		/* margin: 0 auto; */
		float:left;
		width: 100px;
		height: 100%;
		text-align: center;
		font-weight: 600;
		/* padding-top: 8px; */
	}
	#match_info{
		margin:auto;
		width:30%;
		/* height: 100%; */
		text-align:center;
		font-weight:900;
	}
	#who_won{
		display:none;
		position:absolute;
		height:60px;
		margin-left:-500px;
		left:50%;
		top:180px;
		width:1000px;
		text-align: center;
    	font-size: 40px;
		background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0))
	}
	#who_won div {
		display:inline-block;
	}